<li id="pop_2" class="MIB_line_r"><div class="num" pop="true"><a href="/1086564055/follow" id="attentions"><%= @following %></a></div>
  <a href="/1086564055/follow">关注</a></li>
<li class="MIB_line_r"><div class="num"><a href="/1086564055/fans" id="myfans"><%= @fans %></a></div>
  <a href="/1086564055/fans">粉丝</a></li>
<li class=""><div class="num"><a href="/jowett1985/profile" id="mblog"><%= @message_count %></a></div>
  <a href="/jowett1985/profile">微博</a></li>